.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 60%;
    margin-bottom: 30px;
}

.tittleHeader {
    color: wheat;
    font-weight: 900;
    font-size: 35px;
    font-family: monospace;
}



.image {
    width: 250px;
    height: 100%;
    border-radius: 18px;
}

@media (max-width: 1250px) {
    .proyect{
        width: 60%;
        gap: 20px;
    }
}



@media (max-width: 768px) {
    .proyect {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .tittleHeader{
      font-size: 28px;
    }
  }