.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 60%;
    margin-bottom: 30px;
}

.tittleHeader {
    color: wheat;
    font-weight: 900;
    font-size: 35px;
    font-family: monospace;
}



@media (max-width: 450px) {
    .tittleHeader{
      font-size: 28px;
    }
  }