.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 60%;
    margin-bottom: 30px;
}

.titleHeader {
    color: #F0EBD8;
    font-weight: 700;
    font-size: 35px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 60%;
    gap: 40px;
}


@media (max-width: 1500px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
  }

  @media (max-width: 800px) {
    .projects{
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    }
  }

  @media (max-width: 550px) {
    .titleHeader{
      font-size: 28px;
    }
    .projects{
        
        width: 70%;
    }
  }


@media (max-width: 450px) {
    .titleHeader{
      font-size: 28px;
    }
  }