.indicatorContainer {
    position: fixed;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    gap: 20px;
    z-index: 999;
}

.indicator {
    width: 25px; 
    height: 25px;
    background-color: var(--color-gray);
    transition: background-color 0.3s ease, transform 0.3s ease, clip-path 0.3s ease;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
    cursor: pointer;
}

.indicator.active {
    background-color: var(--color-dark); 
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 
        68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 
        39% 35% 
    ); 
    transform: rotate(0deg); 
    transform: scale(1.2); 
}

.activeProjects{
    background-color: var(--color-primary) !important;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 
        68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 
        39% 35% 
    ); 
    transform: rotate(0deg); 
    transform: scale(1.2); 
}


