.containerProjects {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentProjects {
  display: flex;
  width: 100%;
  padding: 0em 4em;
  width: 100%;
  flex-direction: column;
  align-items: center;
}



.contentProjects .headerProjects {
  margin-bottom: 4em;
}

.headerProjects .titleHeader {
  font-size: 45px;
  text-align: center;
  color: var(--color-background-light);
  font-weight: 900;
  font-family: "Croissant One", serif;
}

.linkContainer {
  display: flex;
  justify-content: center;
}


.elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.buttonRedirect {
  position: relative;
  padding: 22px 40px;
  border: 2px solid var(--color-primary);
  letter-spacing: 0.1em;
  font-size: 25px;
  background-color: transparent;
  color: var(--color-background-light);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.buttonRedirect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}

.buttonRedirect:hover::before {
  transform: scaleX(1);

}

.buttonRedirect:hover {
  color: var(--color-dark);
  
}


.buttonRedirect:hover .arrow {
  transform: translateX(5px);
}




.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowRight {
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: var(--color-primary);
}

.arrowRight::after {
  content: "";
  position: absolute;
  top: -9px;
  right: -10px;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--color-primary);
  border-bottom: 10px solid transparent;
}


@media (min-width: 993px) {
  .contentProjects {
    max-width: 1600px;
  }
}


@media (max-width: 1400px) {
  .contentProjects .headerProjects{
    margin-bottom: 2em;
  }
  .elements{
    gap: 115px;
  }
  .arrowRight{
    width: 170px;
  }
  .buttonRedirect{
    padding: 18px 35px;
  }
}

@media (max-width: 1200px) {
  .elements{
    gap: 60px;
  }
   .arrowRight{
    width: 75px;
   }

   .buttonRedirect{
    padding: 15px 30px;
    font-size: 22px;
   }
}

@media (max-width: 992px) {
  .buttonRedirect{
    padding: 15px 20px;
    font-size: 14px;
  }

  .headerProjects .titleHeader {
    font-size: 35px;
  }
  .elements{
    gap: 40px;
  }
  .arrowRight{
    width: 45px;
  }
}

@media (max-width: 768px) {
  .elements{
    flex-direction: column;
  }

  .arrowRight{
    width: 2px;
    height: 35px;
  }
  .arrowRight::after{
    top: 30px;
    right: -9px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid var(--color-primary);
  }
  .buttonRedirect{
    padding: 16px 25px;
    font-size: 16px;
  }

}


@media (max-width: 576px) {
  .headerProjects .titleHeader{
    font-size: 25px;
  }
  .contentProjects{
    padding: 0 2em;
  }
  .buttonRedirect{
    padding: 10px 15px;
        font-size: 12px;
  }
}


@media (max-width: 420px) {
  .headerProjects .titleHeader{
    font-size: 20px;
  }
  .contentProjects{
    padding: 0;
  }
}

@media (max-width: 320px) {
  .headerProjects .titleHeader{
    font-size: 16px;
  }
  .contentProjects .headerProjects{
    margin-bottom: 0em;
  }
  .elements{
    gap: 25px;
  }
  .arrowRight{
    height: 40px;
  }
}