.proyect {
    border: 4px dotted white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 40%;
    height: auto;
    justify-content: center;

    gap: 70px;
    margin-bottom: 20px;
}

.imageContainer {
    /* flex: 1;  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 250px;
    height: 100%;
    border-radius: 18px;
}


.details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.titleProject{
    font-size: 30px;
    color: #f5deb3;
    margin-bottom: 5px;
    
}

.textProject{
    font-size: 15px;
    color: white;
    font-weight: 500;
}


.buttonContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.button {
    display: flex;
    padding: 6px 12px;
    color: white;
    background-color: #ffffff17;
    border: 2px solid #0a9eb1;
    font-weight: 700;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.button:hover {
    background-color: #0a9eb1;
}

.technologies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textTechnologies{
    font-size: 15px;
    color: #0a9eb1;
    margin: 30px 0px 5px 0px;
}

.iconsTechnologies{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.icon {
    margin: 0px 4px;
    align-items: center;
}

@media (max-width: 768px) {
    .imageContainer{
        width: 100%;
    }

    .image {
        width: 100%;
        height: 180px;
    }

    .titleProject{
        text-align: center;
    }

    .iconsTechnologies{
        width: 80%;
    }

}




@media (max-width: 1250px) {
    .proyect{
        width: 60%;
        gap: 20px;
    }
}



@media (max-width: 768px) {
    .proyect {
        flex-direction: column;
        align-items: center;
    }
}

