.containerLayout {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* background: rgba(0, 0, 0, 0.815); */
}

.sectionLayout {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}


.headerApp{
    width: 100%;
    height: auto;
    position: sticky;
}