.contentNavbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: transparent;
  }
  
  .contentNavbar .btnNav {
    font-size: 30px;
    border: none;
    background-color: transparent;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    position: relative;
    transition: gap 0.5s ease-in-out;
    font-family: "Jacques Francois Shadow", serif;
 
  }
  
  .btnNav .wordContainer {
    display: inline-block; 
    margin-right: 10px;
}
  
.wordContainer .nameLetter {
    display: inline-block;

  }
  
  .wordContainer .persistent {
    display: inline-block; 
  }
  
  .wordContainer .hidden {
    opacity: 0;
    display: none; 
  }

@media (max-width: 992px) {
  .contentNavbar{
    justify-content: center;
    background-color: var(--color-dark);
    position: relative;
    border-bottom: 1px solid var(--color-primary);
  }
  .contentNavbar .btnNav {
        font-size: 40px; 
        margin-left: 0px;
    }
}


@media (max-width: 576px) {
  .contentNavbar .btnNav {
      font-size: 30px; 
    }
}


@media (max-width: 420px) {
  .contentNavbar .btnNav {
      font-size: 20px; 
    }
}