
.sectionContainer {
    width: 100%;
    min-height: 100vh;
}

.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    scroll-margin-top: 120px;
    /* padding-top: 120px; */
}