input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.modalContent {
  background-color: #242628; 
}

.modalBody{
padding-top: 0px;
}

.modalTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #f5deb3;
  font-size: 35px;
}



.form{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 22px;
  color: white;
}

.inputText {
  width: 45%;
  padding: 4px 12px;
  margin: 15px 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

.inputNumber{
  width: 100px;
  padding: 4px 12px;
  margin: 15px 0px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}


.submit {
  width: 30%;
  padding: 5px;
  margin: 10px auto;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  background-color: #61DBFB;
  font-weight: 900;
  font-size: 15px;
}

.submit:hover {
  background-color: #40bfe0;
}


.messageError{
  font-size: 15px;
  color: red;
  margin: 0;
  margin-bottom: 10px;
}

.btnSave{
  color: black;
  background-color: #42c727;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px 14px;
  font-size: 16px;
}
.btnSave:hover{
  background-color: #2bff00;
}

.btnCancel{
  color: red;
  background-color: black;
  border: 2px solid red;
  border-radius: 10px;
  padding: 1px 14px;
  font-size: 16px;
}

.btnCancel:hover{
  background-color: #a02121;
}



@media (max-width: 750px) {

  label{
    font-size: 15px;
  }

  .inputText{
    width: 60%;
    padding: 2px 10px;
    margin: 10px 0px;
  }

  textarea{
    height: 85px;
  }
}

