.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  background-color: var(--color-dark);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}



.name {
  font-size: 20px;
  margin: 0;
}

.message {
  font-size: 20px;
  margin: 0;
}



.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0px 10px;
}

.symbolName{
  margin-bottom: 0px;
  font-size: 35px;
  margin-right: 8px;
}


@media (max-width: 992px) {
  .name{
    font-size: 18px;
  }
  .icon{
    width: 25px;
    height: 25px; 
  }
  .message{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .name{
    font-size: 12px;
  }
  .icon{
    width: 20px;
    height: 20px; 
  }
  .message{
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer{
    flex-direction: column;
    padding: 5px 10px;
  }
}