.containerAboutMe {
  width: 100%;
  height: 100%;
  background-color: #eae4d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentAboutMe {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.headerAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.contentAboutMe .titleDiv {
  font-size: 45px;
  text-align: center;
  color: #111111;
  font-weight: 900;
  padding-bottom: 20px;
  font-family: "Croissant One", serif;
  margin-bottom: 0;
}

.contentAboutMe .about {
  width: 100%;
  height: auto;

}

.headerAboutMe .textProject {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  padding: 20px 50px;
}

.data .skillsList {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}


.data .skillsList li {
  display: flex;
  align-items: center;
  background: #111111d6;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data .skillsList li strong {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.data .skillsList li .star {
  color: #fdb500 ;
  font-size: 19px;
  margin-right: 10px;
}

.skillsList li .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2px 10px;
}

.skillsList li .icons .icon {
  height: 25px;
  width: 25px;
}


.about .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}




@media (max-width: 1000px) {
  .contentAboutMe .about {
    width: 90%;
  }

  .about .data h2 h2 {
    font-size: 24px;
  }

  .about .textProject {
    font-size: 16px;
  }

  .data .skillsList li {
    padding: 5px 5px;
  }

  .data .skillsList li strong {
    font-size: 12px;
  }

  .skillsList li .icons {
    gap: 10px;
  }
}


@media (max-width: 450px) {
  .headerAboutMe .titleHeader {
    font-size: 28px;
  }

  .data h2 {
    font-size: 22px;
  }

  .data .skillsList li strong {
    font-size: 12px;
  }

  .skillsList li .icons .icon {
    width: 15px;
    height: 15px;
  }

  .data .skillsList li .star {
    font-size: 16px;
    margin-right: 5px;
  }

}

@media (max-width: 360px) {
  .data .skillsList li strong {
    font-size: 8px;
  }
}
