.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    width: 60%;
    margin-bottom: 30px;
}

.titleHeader {
    color: #F0EBD8;
    font-weight: 700;
    font-size: 35px;
}

.about {
    border-radius: 38px;
    width: 50%;
    height: auto;
    background-color: rgb(0 0 0 / 38%);
}

.textProject{
    padding: 25px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.skillsList {
    list-style-type: none; 
    padding-left: 0;     
    margin: 0; 
  }
  

  .skillsList li {
    display: flex;
    align-items: center;
    background: #5857574d;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skillsList li strong {
    color: #0a9eb1;
    font-size: 18px;
    margin-right: 20px;
  }

  .star{
    color: gold;
    font-size: 19px;
    margin-right: 10px;
  }
  
  .icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon{
  height: 25px;
  width: 25px;
}


.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.data h2{
  font-size: 28px;
  color: #f5deb3;
  font-weight: bold;
  text-align: center;
}




@media (max-width: 1000px) {
  .about{
    width: 90%;
  }

  .data h2{
    font-size: 24px;
  }

  .textProject{
    font-size: 16px;
  }
  .skillsList li{
    padding: 5px 5px;
  }

  .skillsList li strong{
    font-size: 12px;
  }

  .icons{
    gap: 10px;
  }
}


@media (max-width: 450px) {
  .titleHeader{
    font-size: 28px;
  }
  .data h2{
    font-size: 22px;
  }
  .skillsList li strong {
    font-size: 12px;
  }

  .icon{
    width: 15px;
    height: 15px;
  }

  .star{
    font-size: 16px;
    margin-right: 5px;
  }

}

@media (max-width: 360px) {
  .skillsList li strong {
    font-size: 8px;
  }
}